body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    touch-action: manipulation;
    -webkit-user-select: none; /* Désactive la sélection de texte sur iOS */
    user-select: none;
    cursor: pointer;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    margin-bottom: 20px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #0056b3;
}

.audiogrid {
    display: grid;
    grid-template-columns: repeat(4, 70px);
    grid-gap: 5px;
}

.loop-box {
    width: 70px;
    height: 70px;
    background-color: #3498db;
    border-radius: 5px;
    cursor: pointer !important;
    touch-action: manipulation;
    transition: background-color 0.3s ease;
    -webkit-user-select: none; /* Empêche la sélection sur iOS */
    user-select: none;
}

.loop-box.active {
    background-color: #2ecc71;
    transform: scale(0.9);
}

<button id="activateAudio">Activer l'audio</button>
